h2{
	color:#003580;	
}
#style{
	font-size:14ps;
	color:#000033;
}
.a{
	color:#F00;
}
.b{
	color:#1F87CC;
}
.c{
	color:#FAA53B;
}
.d{
	color:#0D7114;
}
.img1{
	width:100px;
	height:160px;
}
.img2{
	width:200px;
	height:130px;
}




