/*需求说明
使用外部引入CSS样式的方式完成页面样式的设置
所有的文字放在段落标签中
所有的标题放在<h2>标签中
所有段落标签中的文本字体大小为14px
把body的后代元素h2字体设置为16px
使用类选择器设置第一个h2元素的字体颜色为红色
使用通用兄弟选择器把第一个h2元素后面的所有兄弟h2元素设置为蓝色
使用子选择器把第一张图片设置为宽度887px，高度为439px
*/
p{
	font-size:14px;
}
body h2{
	font-size:16px;
}
.a{
	color:red;
}
.a~h2{
	color:blue;
}
img:nth-of-type(1){
	width:887px;
	height:439px;
}
